<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>CourseMate | About</title>

  {% include "cdn_links.html" %}
</head>


<body>

{% include "components/navbar.html" %}

<div class="padder">  <!-- keeps content out from under navbar -->

  <div class="container"> <!-- can't remember why this is here -->

    <div class="row">     <!-- all columns must be in rows to work -->

      <div class="col-md-3">  <!-- left column -->

        {% include "components/nav_courses.html" %}

      </div>

      <div class="col-md-7">  <!-- right column -->
        <h1>About Us</h1>
        <p>We're a group of students who are currently enrolled in CSCI 3308 at CU Boulder.</p>

      </div>

    </div>  <!-- end of row -->

  </div>  <!-- end of container -->

</div>  <!-- end of padder -->


{% include "components/footer.html" %}


</body>
</html>
