<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CourseMate.com</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/Course_Mate_Home/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="static/css/Course_Mate_Home/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="static/css/Course_Mate_Home/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="static/css/Course_Mate_Home/Course_Mate_Style.css" rel="stylesheet">


  </head>


<body>
  {#{% include "components/navbar.html" %}#}
  {% include "components/navbar_new.html" %}


  <div class="padder">  <!-- keeps content out from under navbar -->

    <div class="container"> <!-- can't remember why this is here -->

      <div class="row">     <!-- all columns must be in rows to work -->

        <div class="col-md-3">  <!-- left column -->

  {#        {% include "components/nav_courses.html" %}#}

        </div>

        <div class="col-md-7">  <!-- right column -->

          <br><br><br><br><br> <!-- i'm sure there's a better way to do this -->
            <article>
              <h1> {{ title }} </h1>

              <br>

              <div>
                <form action="/courses/{{ title }}" method="POST">
                  <input type="text" placeholder="post title" name="title">
                  <input type="text" placeholder="post content" name="content">

                  <input type="submit" name="my-form" value="add post">
                </form>
              </div>

              <br>

              {% for post in posts %}
                <div class="card"><div class="card-block">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.content }}</p>
                </div></div>
              {% endfor %}

              <br>

              {% for file in files%}
                <div class="card"><div class="card-block">
                  <a href = "{{title}}/files/{{file.name}}">{{file.name}} </a>
                </div></div>
              {%endfor%}

          </article>

        </div> <!-- end of column -->


      </div>  <!-- end of row -->

    </div>  <!-- end of container -->


  </div>  <!-- end of padder -->


  {% include "components/footer.html" %}


</body>

</html>
