<!DOCTYPE html>
<head>
    <title>CourseMate | Courses</title>
    <link rel="stylesheet" href="../../static/css/home_style.css">

    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>

<body>
    <div class="page">
        {% include "header.html" %}
        {% include "navigation.html" %}

        <div style="float:right;">
            <form action="/courses" method="POST">
                <input type="text" placeholder="course title" name="input">
                <input type="submit" name="my-form" value="add course">
            </form>
        </div>

        <article>
            <nav class="courses">
                {% for course in courses %}
                    <li><a href="courses/{{course}}" >{{ course }}</a></li>


                {% endfor %}
            </nav>
        </article>
        {% include "footer.html" %}
    </div>

</body>