<!DOCTYPE html>
<head>
    <title>CourseMate | Courses</title>
    <link rel="stylesheet" href="../../static/css/home_style.css">

    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>

<body>
    <div class="page">

        {% include "header.html" %}
        {% include "navigation.html" %}



        <article>
            <h1> {{ title }} </h1>


                {% for post in posts %}
                    <div class="post">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                    </div>
                {% endfor %}

        </article>

        <div>
            <form action="/courses/{{ title }}" method="POST">
                <input type="text" placeholder="post title" name="title">
                <input type="text" placeholder="post content" name="content">

                <input type="submit" name="my-form" value="add post">
            </form>
        </div>
        {% include "footer.html" %}

    </div>

</body>