<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>CourseMate | About</title>

  {% include "cdn_links.html" %}

</head>

<body>

{% include "components/navbar.html" %}

<div class="padder">  <!-- keeps content out from under navbar -->

  <div class="container"> <!-- can't remember why this is here -->

    <div class="row">     <!-- all columns must be in rows to work -->

      <div class="col-md-3">  <!-- left column -->

        {% include "components/nav_courses.html" %}

      </div>

      <div class="col-md-7">  <!-- right column -->

        <br><br><br><br><br> <!-- i'm sure there's a better way to do this -->


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data" action="/upload" margin="auto">
          {{ form.csrf_token }}
          {{ form.example }}
	  <input type="text" name="course_id" value="Enter course id">
          <input type="submit" value="Go">
        </form>

      </div>

    </div>  <!-- end of row -->

  </div>  <!-- end of container -->

</div>  <!-- end of padder -->


{% include "components/footer.html" %}


</body>

