<!DOCTYPE html>
<html>

  <head>
    <title>CourseMate | Home</title>
    <link rel="stylesheet" href="../../static/css/home_style.css">
    <meta http-equiv="cache-control" content="no-cache" />
  </head>


  <body>

    <div class="page">

      {% include "header.html" %}

      {% include "navigation.html" %}

      <article>
        <h1>Welcome, {{ username }}!</h1>
        <p>Get good grades in all of your courses by becoming part of our rich community of students Access millions of resources by joining or logging in today.</p>
        <!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <button onclick=
        "document.getElementById('id02').style.display='block'" style="width:auto;">Create New Account</button>-->
      </article>

      <!--{% for message in get_flashed_messages() %}-->
      <!--{{ message }}-->
      <!--{% endfor %}-->

      {% include "footer.html" %}



    </div>

  </body>
</html>
