<h1> Your Courses</h1>
<br>

<div class="card">
    <div class="card-title" style="padding-left: 1em;">
        CSCI 3308
    </div>
    <div class="card-block">
        Software Engineering Methods and Tools
    </div>
</div>

<div class="card">
    <div class="card-title" style="padding-left: 1em;">
        CSCI 3104
    </div>
    <div class="card-block">
        Algorithms
    </div>
</div>

<div class="card">
    <div class="card-title" style="padding-left: 1em;">
        TITLE 1234
    </div>
    <div class="card-block">
        Description
    </div>
</div>
